/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public/files
/app/config/database.php

app/config/app.php
composer.json
app/storage/debugbar/
*.bak
.svn/*
app/storage/*